.DS_Store
/**/bin
/**/c*
/**/i*
/**/r*
/**/u*
/**/py*
/**/pan*
/**/order*
/**/tz*
/**/six*
/**/date*
/**/sq*
/**/sc*
/**/sm*
/**/num*
/**/gen*
/**/gr*
/**/ty*
/terraform/.*
/terraform/terraform.tf*
/terraform/*.tfstate
/**/*.zip
/test-lambda/package
/**/pymysql*
